PORT=3000
NODE_ENV=development
DATABASE_URL="file:./src/lib/prisma/noda.db"
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
REDIS_URL=redis://localhost:6379
STRIPE_API_VERSION=2024-06-20
